# =====================
# Environment variables
# =====================
.env
.env.local

# =====================
# Node.js
# =====================
node_modules/

# =====================
# Build output
# =====================
dist/

# =====================
# Python
# =====================
__pycache__/
*.pyc

# =====================
# ML / Backend (VERY IMPORTANT)
# =====================
ml/model.pkl
ml/.env
ml/__pycache__/
ml/data/

# =====================
# OS files
# =====================
.DS_Store