# =====================
# Environment variables
# =====================
.env
.env.local

# =====================
# Node.js
# =====================
node_modules/

# =====================
# Build output
# =====================
dist/

# =====================
# Python
# =====================
__pycache__/
*.pyc

# =====================
# ML models
# =====================
model.pkl

# =====================
# OS files
# =====================
.DS_Store